<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container" style="width: 700px;">
        <div class="text-center">
            <h1> <%= result.halo %> </h1>
        </div>
        <div class="container">
            <div class="col-sm">
                <p>
                    <strong> Name</strong> : <%= result.name %> 
                </p>
                <p>
                    <strong> Age</strong> :  <%= result.age %> 
                </p>
                <p>
                    <strong> School</strong> :  <%= result.school %>    
                </p>
                <p>
                    <strong> Gender</strong> : <%= result.gender %>
                </p>
                <p>
                    <strong> Score</strong> : <%= result.score %>
                </p>
                <p>
                    <strong> Universitas Favorite </strong> : <%= result.University.name %>
                </p>
            </div>
        </div>
        <button type="button" class="btn btn-warning">
            <a href="/student/<%= result.id %>">Back</a>
        </button>
        <button>
            <a href="/student/<%= result.id %>/profile/edit">Edit</a>
        </button>
    </div>
</body>
</html>
